div img{
    width: 100%;
}

body {
    background-color: black;
}

.navbar {

    position: fixed; 
    top: 0; 
    width: 100%; 
    right: 0px;
    background-color: transparent;


   
    
  }

  ul {
    position: relative;
    margin-right: 2rem;
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
   
}
a {
   color: white;
    font-family: sans-serif;
    text-decoration: none;
    background-color: black;
  
 
}